# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Entornos virtuales
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.py[co]
.Python

# Archivos de configuración locales
.env
*.env

# Base de datos
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db