# Configuración de la API - BACKEND (para David)
SECRET_KEY=pon_tu_clave_secreta_aqui
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Configuración de MongoDB (para Alan)
MONGO_URL=mongodb://localhost:27017
DATABASE_NAME=ciclopuerto_db

# Configuración del servidor
HOST=0.0.0.0
PORT=8000
DEBUG=True

# ==============================================
# VARIABLES PARA REACT - FRONTEND (para Samuel)
# ==============================================
REACT_APP_API_URL=http://localhost:8000
REACT_APP_SITE_NAME=Ciclopuerto 2V
REACT_APP_TIMEOUT=10000