body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f4f6f8;
}

/* Barra superior */
.navbar{
  background:#00bfa5;
  color:white;
  padding:20px;
  font-size:22px;
  font-weight:bold;
  text-align:center;
}


/* Contenedor centrado */
.perfil-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:80vh;
}

/* Tarjeta del perfil */
.perfil-card{
  background:white;
  padding:40px;
  border-radius:20px;
  width:400px;
  text-align:center;

  box-shadow:0px 10px 25px rgba(0,0,0,0.2);
}

/* Título */
.perfil-card h1{
  margin-bottom:25px;
}

/* Datos del usuario */
.perfil-info{
  font-size:20px;
  margin:10px 0;
}

/* Botón moderno para exportar Excel */
button.export-excel {
  padding: 12px 25px;          /* Tamaño del botón */
  border: none;                 /* Sin borde */
  border-radius: 25px;          /* Bordes redondeados */
  background: #00bfa5;          /* Verde cyan */
  color: white;                 /* Texto blanco */
  font-size: 16px;              /* Tamaño del texto */
  cursor: pointer;              /* Manito al pasar el mouse */
  transition: 0.3s;             /* Animación suave */
  margin-top: 20px;             /* Separación de otros elementos */
}

/* Hover del botón */
button.export-excel:hover {
  background: #009e8f;          /* Verde cyan más oscuro */
  transform: translateY(-2px);  /* Leve elevación al pasar mouse */
}