body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  background: white;
  padding: 30px;
  border-top: 8px solid #8a1538;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  color: #8a1538;
}

input, select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 50px; /* lo hace circular tipo cápsula */
  background-color: white;
  color: #8a1538;
  border: 2px solid #8a1538;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}


button:hover {
  background-color: #6d102c;
}


.btnRegistro {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 50px; /* lo hace circular tipo cápsula */
  background-color: white;
  color: #8a1538;
  border: 2px solid #8a1538;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.btnRegistro:hover {
  background-color: #8a1538;
  color: white;
  transform: scale(1.03);
}
